<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup Page</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- First division for image -->
            <img src="Images/entreprise.png" alt="Your Image" class="img-fluid smaller-image ">
          </div>
      <div class="col-md-6   ">
        <!-- Second division for signup form -->
        <div class="logo-container">
            <img src="Images/logo.jpg" alt="logo" class="img-fluid logo-img  ">
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Créer Un Compte</h5>
            <div><p>Vous avez déja un compte ? Connecter-vous.</p></div> 
            <div class="container-ent">
                <p>Créer un compte en tant que</p>
                <div class="button-container">
                    <button class="btn btn-primary btn-etu">
                        <img src="Images/icon-Etu.jpg" alt="Etudiant Icon" class="icon-etu">
                        Etudiant
                    </button>
                    <button class="btn btn-primary">Entreprise</button>
            </div>

            </div>
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Enter your username">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter your password">
              </div>
              <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS (Optional if you need JS functionality) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
